html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.item1 { grid-area: header; }
.item2 { grid-area: meny; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header  header  header'
        'meny    main    main'
        'meny    footer  footer';
    /* gap: 10px; */
    /* background-color: #2196F3; */
    /* padding: 10px; */
}

.grid-container > div { /* Alle barna til div-containeren av typen div */
    font-size: 1.5rem;
    padding: 1rem;
}

.item1 { /* header */
    background: linear-gradient(270deg, #334a94, #050609);
    color: white;
    text-align: center;

    /* Bruker flexbox for å plassere bildet/logoen og teksten i midten av headeren */
    display: flex;
    justify-content: center;
    align-items: center;

}

.item2 { /* menu */
    /* background-color:#334a94; */
}

.flyt {
    float: left;
}

/* Menyen sitt design */
nav ul{
    list-style:none;
    padding:0;
    margin:0;
}

nav ul li a{
    text-decoration: none;
    color:white;
    padding:1.5rem;
    display: block;
    background-color:#334a94;
}

nav ul li a:hover{
    background-color:#3f72d6;
}