html, body {
    height: 100%;
}

body {
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#skjerm {
    width: 600px;
    height: 600px;
    background-color: white;
    border: 3px solid red;
}

#gameCanvas {
    border: 1px solid #000;
    background-color: #fff;
}

#bins {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin-top: 20px;
}

.bin {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    cursor: pointer;
}